*,*:before,*:after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --clr-almost-white: hsl(0, 0%, 98%);
    --clr-medium-gray: hsl(0, 0%, 41%);
    --clr-almost-black: hsl(0, 0%, 8%);
}
body {
    background-color: var(--clr-almost-white);
    font-family: 'Epilogue', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.big-container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 30px;
}
.flex-pure {
    display: flex;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.justify-start {
    justify-content: start;
}
.header {
    /*opacity: 0.6;*/
    color: black;
}
.header>*:nth-child(1) {

}
.header>*:nth-child(2) {
    opacity: 0.6;
    margin-left: 65px;
    margin-right:auto;

}
.header>*:nth-child(3) {
    opacity: 0.6;
   margin-left: auto;
}
.header nav:nth-child(1) {

}
.flex-row1 {
    display: flex;
    flex-direction: row;
    gap:3px;
}
.header .flex-row {
    gap: 25px;
}
.header a {
    opacity: 0.8;
    color: black;
}
.header a:hover {
    opacity: 1;
    font-weight: 500;
}
.btn {
    border-radius: 10px;
    background-color: var(--clr-almost-white);
    padding: 5px 13px;
}
.btn-lg {
    padding: 15px 40px;
}
.btn-white {
    border: 1px solid rgba(0,0,0,0.8);
}
.btn-black {
    background: black;
    color: white;
}
.btn-black:hover {
    background: white;
    border: 1px solid rgba(0,0,0,0.8);
    color: black;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}
.pos-fixed {
    position: fixed;
    top:40px;
    right:0;
}
.pos-absolute {
    position: absolute;
}
.gap-2 {
    gap: 1rem;
}
.pos-1 {
    top:40px;
    right:0;
    width:232px;
}


.pos-1 ul, .pos-2 ul {
    width: 300px;
    /*margin:0 auto;*/
}
.pos-1 ul li{

    margin-right: 15px;
    /*margin:0 auto;*/
}
.pos-1 a, .pos-2 a {
    opacity:1;
    font-weight:200;
    /*color:#676767;*/

}
.pos-1 a:hover, .pos-2 a:hover {
    opacity:1;
    font-weight:700;
    /*color: #181818;*/
}
.h-100vh {
    height: 100vh;
}

.card {
    border-radius: 10px;
    background: white;
    width:120px;
    margin: 25px auto;
}
.d_none {
    display: none;
}

#feature_menu a {
    margin-left: 5px;
}
.mt-120 {
    margin-top: 120px;
}
.mt-auto {
    margin-top: auto;
}
.mt-116 {
    margin-top: 116px;
}
.w-10 {
    width: 10px;
}
#client > * {
    margin:0 auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gap-0\.13 {
   gap: 13%;
}
img {
    max-width: 100%;

}
.d_block {
    display: block;
}

#hero h1 {
    font-size: 6rem;
}
#hero p {
    font-size: 1.5rem;
    opacity: 0.6;
    margin-bottom: 40px;
}
#hamburger {
    display: none;
}
.pos-relative {
    position: relative;
}
.pos_fixed {
    position: fixed;
    right:0;
    top:0;
    /*background: red;*/
    width: 238px;
    height: 100vh;
    opacity: 1;
}
.top-50 {
    top:50px;
}
.top-18 {
    top:18px;
}
.right-0 {
    right: 0;
}

.bg-white {
    background: white;
}
.mt-37 {
    margin-top: 37px;
}
.mb-15 {
    margin-bottom: 15px;
}

@media (max-width: 605px) {

    .grid {
        display: flex;
        flex-direction: column-reverse;
    }

    .big-container {
        padding: 0 10px;
    }
    #hamburger {
        display: block;
        margin-left: auto;
        /*margin-right:10px;*/
    }

}

@media (min-width: 605px) {

    .md\:d-block {
        display: block;
    }
    .md\:d-none {
        display: none;
    }
    .md\:flex-pure {
        display: flex;
    }
    .md\:flex-row {
        flex-direction: row;
    }
    .md\:gap-0 {
        gap:0;

    }
    .md\:pos-relative {
        position: relative;
    }
    .md\:pos-static {
        position: static;
    }
    .md\:pos-absolute {
        position: absolute;
    }

    .md\:mt-25 {
        margin-top: 25px;
    }
    .md\:top-50 {
        top:50px;
    }
    .md\:top-18 {
        top:18px;
    }
    .md\:bg-transparent {
        background: transparent;
    }
    .md\:h-auto {
        height: auto;
    }
    .header .md\:flex-row {
        gap: 11px;
    }


}